body{
    font-family: 'Poppins', sans-serif;
}
/* ------------------
banner part starts
------------------ */
.banner-part{
    display: flex;
    width: 1500px;
    height: 600px;
    padding-top: 120px;
    margin-bottom: 70px;
    background-color: #2D25A0;
}
.banner-part:hover{
    background-color: lightcoral;
}
h1{
    color: #FFFFFF;
    font-size: 68px;
    padding-left: 156px;
    padding-top: 10px;
}
.live-part{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    margin-left: 156px;
    border-radius: 5px;
    margin-top: -30px;
}
.live-part a{
    text-decoration: none;
    color: #FFFFFF;
}
.fa-arrow-right{
    color: #FFFFFF;
    margin-left: 5px;
}
.banner-pic img{
    width: 586px;
    height: 460px;
    margin-left: 102px;
    padding-right: 141px;
}
.banner-pic img:hover{
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
}
/* ---------------------
banner part ends
-------------------- */


/* ----------------
players part begins
---------------- */
.players-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 1050px;
    height: 1896px;
    margin-left: 225px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 474px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
    padding: 15px 15px 30px 15px;
}
.player img{
    width: 100%;
    height: 100%;
}
p{
    color: gray;
    margin-top: -10px;
}


/* ---------------------
players part ends
--------------------- */

/* ------------------------
highlights part starts
------------------------ */
.highlights-part{
    display: flex;
    margin-top: 300px;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.highlights-tag{
    display: flex;
    flex-direction: column;
    width: 466px;
    height: 330px;
}
h3{
    font-size: 50px;
}
.watch-part{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    border-radius: 5px;
}
.watch-part a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
}
.match-pic img{
    width: 567px;
    height: 427px;
    margin-top: 200px;
    margin-left: 80px;
}
/* ------------------------
highlights part ends
------------------------ */

.sponsors{
    display: flex;
    justify-content: space-around;
    background-color: #2D25A0;
    padding: 30px 30px;

}
.sponsors img{
    width: 200px;
    height: 94px;
    border-radius: 8px;
}

